@model IEnumerable<Component>
@{
    string[] component = ["", "", "", "", "",
                          "หาความรู้", "พักผ่อน", "เกย์มากๆ", "อื่นๆ"];
}

<div>
    <a class="btn btn-dark" asp-controller="Component" asp-action="Create">Create</a>
    @if (TempData["OK"] != null)
    {
        <div class="alert alert-danger p-4" role="alert">
            ไม่พบข้อมูล
        </div>
    }
    <hr>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">@Html.DisplayNameFor(p => p.Id)</th>
                <th scope="col">@Html.DisplayNameFor(p => p.Name)</th>
                <th scope="col">@Html.DisplayNameFor(p => p.ProductExtend.Color)</th>
                <th scope="col">@Html.DisplayNameFor(p => p.ProductExtend.Weig)</th>
                <th scope="col">@Html.DisplayNameFor(p => p.FeatureId)</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@item.Id</th>
                    <td>@item.Name</td>
                    @if (item.ProductExtend.Color != null) { <td>@item.ProductExtend.Color</td> }
                    else { <td>-</td> }
                    @if (item.ProductExtend.Weig != null) { <td>@item.ProductExtend.Weig .kg</td> }
                    else { <td>-</td> }
                    <td>
                    <td>@item.Feature.Name</td>
                    <td>
                        <a class="btn btn-outline-dark" asp-controller="Component" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a asp-controller="Component" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-dark" onclick="return confirm('คุณแน่ใจไหมที่จะลบ @item.Name')">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>