@model IEnumerable<Product>

<a class="btn btn-dark" asp-action="Create">Create</a>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">@Html.DisplayNameFor(p => p.Id)</th>
            <th scope="col">@Html.DisplayNameFor(p => p.Name)</th>
            <th scope="col">@Html.DisplayNameFor(p => p.Price)</th>
            <th scope="col">@Html.DisplayNameFor(p => p.Amount)</th>
            <th scope="col">@Html.DisplayNameFor(p => p.ImageUrl)</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.Id</th>
                <td>@item.Name</td>
                <td>@item.Price</td>
                <td>@item.Amount</td>
                <td>
                    @if (!String.IsNullOrEmpty(item.ImageUrl))
                    {
                        <img src="@item.ImageUrl" width="60" height="60" class="rounded" />
                    }
                </td>
                <td>
                    <a class="btn btn-outline-dark" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a class="btn btn-dark" asp-action="Delete" asp-route-id="@item.Id" onclick="return confirm('คุณต้องการหรือไหม')">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>