@model List<PetsDog>;

<style>
    #pat_img{
        background-color: #ff3d55;
        border-radius: 40px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    #pat_img img{
        border-radius: 40px;
        width: 20%;
        margin-left: 14%;
    }
</style>

<div>
    <div class="pat_type">
        <h1><img src="https://i.pinimg.com/564x/39/e3/31/39e33114aadb47500d0678f0b179ff4a.jpg">Dog [ Type ]</h1>
    </div>
    @foreach (var item in Model)
    {
        <div id="pat_img" class="row row-cols-md-2">
            <img src="@item.Img">
            <div class="pet">
                <h2>@item.Name</h2>
                <hr>
                <h2>@item.Character</h2>
            </div>
        </div>
        <div class="overview">
            <h2>@item.Overview</h2>
        </div>
        <div class="description">
            <h2>@item.Description</h2>
        </div>
    }
</div>